body {
  background-color: #1D2240;
  text-align: center;
}

.App-logo {
  height: 12vh;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

@keyframes App-logo-soft-rotate {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-soft-rotate infinite 5s linear;
  }
}

.Header {
  background-color: #12162E;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(1vh + 2vmin);
  color: white;
  border-radius: 0 0 2vh 2vh;
}
  
.Header nav {
  margin-left: 20px;
}

.Header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.Header nav ul li {
  margin: 0 10px;
}

.Header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 3vh;
  font-weight: bold;
}

.Content {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2vh;
  color: white;
}

.Carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  overflow: hidden;
  width: 100%;
  max-width: 100vw;
}

.Card {
  min-width: 30vh;
  height: 40vh;
  background-color: #fff;
  color: #000;
  margin: 0 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2vh;
  flex-shrink: 0;
}

.Card:nth-child(2) {
  height:50vh;
  width:37.5vh;
  margin:0;
}

.Carousel-arrow {
  background-color: #12162E;
  color: white;
  border: none;
  padding: 2vh;
  cursor: pointer;
  font-size: 3vh;
}

.left-arrow {
  margin-right: 2vw;
}

.right-arrow {
  margin-left: 2vw;
}